@use "sass:math";

* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--white: hsl(0 0% 100%);
	--gray50: hsl(223 10% 95%);
	--gray100: hsl(223 10% 90%);
	--gray150: hsl(223 10% 85%);
	--gray200: hsl(223 10% 80%);
	--gray300: hsl(223 10% 70%);
	--gray400: hsl(223 10% 60%);
	--gray500: hsl(223 10% 50%);
	--gray600: hsl(223 10% 40%);
	--gray700: hsl(223 10% 30%);
	--gray800: hsl(223 10% 20%);
	--gray900: hsl(223 10% 10%);
	--gray950: hsl(223 10% 5%);
	--blue100: hsl(217 90% 90%);
	--blue200: hsl(217 90% 80%);
	--blue300: hsl(217 90% 70%);
	--blue400: hsl(217 90% 60%);
	--blue500: hsl(217 90% 50%);
	--blue600: hsl(217 90% 40%);
	--blue600-02: hsl(217 90% 40% / 0.2);
	--blue700: hsl(217 90% 30%);
	--blue800: hsl(217 90% 20%);
	--purple350: hsl(252 90% 65%);
	--purple350-02: hsl(252 90% 65% / 0.2);
	--magenta300: hsl(292 90% 70%);
	--magenta400: hsl(292 90% 60%);
	--black: hsl(0 0% 0%);
	--trans-dur: 0.3s;
	color-scheme: light dark;
	font-size: clamp(0.875rem, 0.8409rem + 0.1705vw, 1.25rem);
}

body,
button,
input,
textarea {
	color: light-dark(var(--blue800), var(--blue100));
	font: 1em / 1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	transition:
		background-color var(--trans-dur),
		box-shadow var(--trans-dur),
		color var(--trans-dur),
		opacity var(--trans-dur);
}

body {
	background-color: light-dark(var(--gray100), var(--gray900));
	display: grid;
	overflow-x: hidden;
	place-items: center;
	height: 100vh;
}

ul {
	margin-inline-start: 1.5em;
}

.chatbot {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	min-height: 100vh;

	&__container {
		width: 100%;
		max-width: 52em;
	}

	&__welcome {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: auto;
		padding: 4.5em 1.5em;
		max-width: 33em;
	}

	&__icon {
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 4em;
		height: 4em;

		&--gradient {
			background:
				linear-gradient(135deg,
					var(--magenta400) 25%,
					var(--blue400) 60%,
					var(--blue800));
			box-shadow: 0 0.75em 2em hsl(0 0% 0% / 0.3);
			position: relative;

			&::before {
				background:
					linear-gradient(hsl(0 0% 100% / 0.5),
						hsl(0 0% 0% / 0.2),
						hsl(0 0% 0% / 0) 50%);
				border-radius: 50%;
				content: "";
				display: block;
				position: absolute;
				inset: 10%;
			}
		}

		&-svg {
			color: var(--white);
			display: block;
			width: 50%;
			height: 50%;
		}

		&--small {
			width: 2.25em;
			height: 2.25em;
		}

		&-wrapper {
			display: flex;
			justify-content: center;
			margin-bottom: 0.75em;
		}
	}

	&__title {
		font-size: 1.125em;
		font-weight: 500;
		line-height: 1.333;
		text-align: center;
		margin-bottom: 3.5rem;
	}

	&__suggestion {
		background-color: transparent;
		border-radius: 0.75em;
		color: light-dark(var(--gray700), var(--gray300));
		cursor: pointer;
		padding: 0.5em 0.75em;
		position: relative;
		text-align: start;
		z-index: 0;

		&:before {
			background:
				linear-gradient(90deg,
					var(--blue300),
					var(--blue500) 33%,
					var(--magenta300));
			border-radius: inherit;
			box-shadow:
				0 0.375em 0.5em hsl(0 0% 100% / 0.2) inset,
				0 -0.25em 0.25em hsl(0 0% 0% / 0.1) inset;
			content: "";
			display: block;
			position: absolute;
			inset: 0;
			opacity: 0;
			transition: opacity var(--trans-dur);
			z-index: -1;
		}

		&:hover,
		&:focus-visible {
			box-shadow: 0 0.75em 1em var(--blue600-02);
			color: var(--gray50);
			outline: none;

			&:before {
				opacity: 1;
			}
		}

		&-tag {
			background-color: light-dark(var(--gray150), var(--gray700));
			border-radius: 0.375em;
			color: light-dark(var(--gray700), var(--gray150));
			cursor: pointer;
			padding: 0 0.5em;

			&:disabled {
				cursor: not-allowed;
				opacity: 0.5;
			}

			&:not(:disabled):hover,
			&:focus-visible {
				background-color: light-dark(var(--gray900), var(--gray50));
				color: light-dark(var(--gray50), var(--gray900));
				outline: none;
			}
		}

		&-tags {
			display: flex;
			gap: 0.5em;
			flex-wrap: wrap;
			margin-bottom: 0.75em;
		}
	}

	&__suggestions-box {
		background-color: light-dark(var(--gray50), var(--gray800));
		border-radius: 1.5em;
		box-shadow: 0 4.5em 4.5em hsl(0 0% 0% / 0.2);
		display: flex;
		flex-direction: column;
		gap: 0.75em;
		padding: 0.75em;
		width: 100%;
		transition: background-color var(--trans-dur);
	}

	&__input {
		background-color: light-dark(var(--white), var(--gray700));
		border-radius: 1em;
		box-shadow:
			0 0 0 1px light-dark(var(--gray100), var(--gray800)) inset,
			0 0.125em 0.125em hsl(0 0% 0% / 0.3);
		padding: 1em 0;
		padding-inline: 1em 3.5em;
		width: 100%;
		outline: none;

		&::placeholder {
			color: light-dark(var(--gray500), var(--gray400));
		}

		&-wrapper {
			position: relative;
			width: 100%;
		}
	}

	&__label {
		overflow: hidden;
		position: absolute;
		width: 1px;
		height: 1px;
	}

	&__submit {
		background-color: light-dark(var(--black), var(--gray100));
		border-radius: 50%;
		box-shadow:
			0 0 0 0.125em light-dark(var(--black), var(--gray100)) inset,
			0 0.375em 0.25em hsl(0 0% 100% / 0.4) inset,
			0 1em 1.5em hsl(0 0% 0% / 0.2);
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 50%;
		inset-inline-end: 0.5em;
		transform: translateY(-50%);
		width: 2.25em;
		height: 2.25em;

		&:disabled {
			cursor: not-allowed;
			opacity: 0.5;
		}

		&:not(:disabled):hover {
			background-color: light-dark(var(--gray900), var(--white));
			box-shadow:
				0 0 0 0.125em light-dark(var(--gray900), var(--white)) inset,
				0 0.375em 0.25em hsl(0 0% 100% / 0.4) inset,
				0 1em 1.5em hsl(0 0% 0% / 0.2);
		}

		&--textarea {
			bottom: 0.5em;
			top: auto;
			transform: none;
		}

		&-icon {
			color: light-dark(var(--gray50), var(--gray950));
			width: 1.25em;
			height: 1.25em;
			transition: color var(--trans-dur);

			[dir="rtl"] & {
				transform: scaleX(-1);
			}
		}
	}

	&__conversation {
		display: flex;
		flex-direction: column;
		height: 100vh;
	}

	&__loader {
		margin: 0.375em 0;
		width: 1.5em;
		height: 1.5em;

		&-line {
			$lineDuration: 1s;
			$lines: 8;

			animation: loader-line $lineDuration linear infinite;

			@for $l from 1 through $lines {
				&:nth-child(#{$l}) {
					animation-delay: $lineDuration * (-$l / $lines);
				}
			}
		}
	}

	&__message {
		display: flex;
		flex-shrink: 0;
		gap: 0.75em;
		margin: 1.25em 0;
		min-height: 3.5em;

		&:last-child {
			margin-bottom: 2.5em;
		}

		&--user {
			align-self: flex-end;
			flex-direction: row-reverse;
		}

		&--ai {
			align-self: flex-start;

			&-loading {
				animation: icon-appear calc(var(--trans-dur) * 2) ease-out;
			}
		}

		&-icon {
			flex-shrink: 0;
		}

		&-bubble {
			background-color: var(--purple350);
			border-radius: 50%;
			position: absolute;
			bottom: 0.25em;
			inset-inline-end: -0.125em;
			width: 1.25em;
			height: 1.25em;

			[dir="rtl"] & {
				background-color: var(--blue500);
			}

			&--end {
				inset-inline-end: -0.5em;
				bottom: 0;
				width: 0.5em;
				height: 0.5em;
			}
		}

		&-content {
			animation: message-appear var(--trans-dur) cubic-bezier(0.65, 0, 0.35, 1);
			border-radius: 1.75em;
			padding: 1em 1.25em;
			padding-inline-end: 1.5em;
			position: relative;
			min-width: 3.5em;
			transition:
				background-color var(--trans-dur),
				box-shadow var(--trans-dur);
		}

		&-text + &-text {
			margin-top: 1.5em;
		}

		&--user &-content {
			background:
				linear-gradient(135deg,
					var(--blue500),
					var(--purple350) calc(100% - 1.25em));
			box-shadow:
				0 0.375em 0.5em hsl(0 0% 100% / 0.2) inset,
				0 -0.25em 0.25em hsl(0 0% 0% / 0.1) inset,
				0 1.5em 1.5em var(--purple350-02);
			color: var(--white);
			text-shadow: 0 0 0.25em hsl(0 0% 0% / 0.3);
			transform-origin: calc(100% + 0.75em) 100%;

			[dir="rtl"] & {
				background:
					linear-gradient(135deg,
						var(--blue500) 1.25em,
						var(--purple350));
				transform-origin: -0.75em 100%;
			}
		}

		&--ai &-content {
			background-color: light-dark(var(--gray50), var(--gray800));
			box-shadow: 0 1.5em 1.5em hsl(0 0% 0% / 0.1);
			transform-origin: 0 0;

			[dir="rtl"] & {
				transform-origin: 100% 0;
			}
		}

		&--ai &-text {
			animation: text-appear calc(var(--trans-dur) * 2) linear forwards;
			opacity: 0;
		}

		&-scroller {
			flex: 1;
			overflow: hidden auto;
			scrollbar-gutter: stable;
		}
	}

	&__messages {
		display: flex;
		flex-direction: column;
		padding: 0 1.5em;
	}

	&__input-box {
		background-color: light-dark(var(--gray50), var(--gray800));
		border-radius: 1.5em;
		box-shadow: 0 4.5em 4.5em hsl(0 0% 0% / 0.2);
		margin: 0 auto 1.5em;
		padding: 0.75em;
		position: relative;
		width: calc(100% - 3em);
		transition: background-color var(--trans-dur);

		&::before {
			background-color: light-dark(var(--gray100), var(--gray900));
			mask-image: linear-gradient(hsl(0 0% 0% / 0), hsl(0 0% 0%));
			content: "";
			display: block;
			position: absolute;
			inset: auto 0 100% 0;
			inset-inline: -1.5em -0.625em;
			height: 1.5em;
			transition: background-color var(--trans-dur);
		}
	}

	&__textarea {
		background-color: light-dark(var(--white), var(--gray700));
		border-radius: 1em;
		box-shadow:
			0 0 0 1px light-dark(var(--gray100), var(--gray800)) inset,
			0 0.125em 0.125em hsl(0 0% 0% / 0.3);
		display: block;
		padding: 1em 1em 3.25em;
		outline: none;
		resize: none;
		min-height: 9em;
		width: 100%;

		&::placeholder {
			color: light-dark(var(--gray500), var(--gray400));
		}

		&-wrapper {
			position: relative;
		}
	}

	&__globe {
		&-button {
			background: transparent;
			color: light-dark(var(--gray500), var(--gray300));
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			bottom: 1em;
			inset-inline-start: 1em;
			width: 1.5em;
			height: 1.5em;

			&:hover {
				color: light-dark(var(--gray900), var(--gray100));
			}
		}

		&-icon {
			width: 1em;
			height: 1em;
		}
	}
}

// Animations
@keyframes icon-appear {

	from,
	50% {
		opacity: 0;
		transform: translateY(33%);
	}

	to {
		opacity: 1;
		transform: translateY(1);
	}
}

@keyframes loader-line {

	from,
	67%,
	to {
		opacity: 0.2;
	}

	33% {
		opacity: 1;
	}
}

@keyframes message-appear {
	from {
		opacity: 0;
		transform: scale(0);
	}

	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes text-appear {

	from,
	50% {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}