/* ====== Relevant CSS ====== */
.scene,
.a3d {
  display: grid;
}

.scene {
  overflow: hidden;
  perspective: 35em;
  mask: linear-gradient(90deg, #0000, red 20% 80%, #0000);
}

.a3d {
  place-self: center;
  transform-style: preserve-3d;
  animation: ry 32s linear infinite;
}

@keyframes ry {
  to {
    rotate: y 1turn;
  }
}

.card {
  --w: 17.5em;
  --ba: calc(1turn / var(--n));
  grid-area: 1 / 1;
  width: var(--w);
  aspect-ratio: 7 / 10;
  object-fit: cover;
  border-radius: 1.5em;
  backface-visibility: hidden;
  transform:
    rotateY(calc(var(--i) * var(--ba)))
    translateZ(calc(-1 * (.5 * var(--w) + .5em) / tan(.5 * var(--ba))));
}

@media (prefers-reduced-motion: reduce) {
  .a3d {
    animation-duration: 128s;
  }
}

/* ====== General page prettifying and layout ====== */
html,
body {
  display: grid;
}

html {
  height: 100%;
}

body {
  margin: 0;
  background: #fff3ed;
}
