body {
	background: radial-gradient(circle, #0f0c29, #302b63);
	height: 100vh;
	margin: 0 auto;
}
svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	max-height: 100vh;
	max-width: 100vw;
}